/* Reset css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: Helvetica, sans-serif, arial;
}

/* End Reset css */

/* Global variables */
:root {

  /* (intro and email sign up background) */
  --primary100: hsl(217, 28%, 15%);

  /* Main background */
  --primary200: hsl(218, 28%, 13%);

  /* (footer background) */
  --primary300: hsl(216, 53%, 9%);

  /* (testimonials background) */
  --primary400: hsl(219, 30%, 18%);

  --colorText: #fff;


  /* (inside call-to-action gradient) */
  --secondary: hsl(176, 68%, 64%);

  /* (inside call-to-action gradient) */
  --terceary: hsl(198, 60%, 50%);

  /* (error) */
  --error: hsl(0, 100%, 63%);

  --fontPrimary: 'Open Sans';
  --fontSecondary: 'Raleway';

  --weightPrimary: 400;
  --weightSecondary: 700;

  --sizeTitle: 2.5em;
  --sizeText: 1.2em;
  --sizeTextsmall: 1em;

  --containerPadding: 0px;
  --maxWidth: 1300px;
}

.container {
  width: 100%;
  max-width: var(--maxWidth);
  margin-inline: auto;
}

.section {
  padding-top: 5rem;
  padding-bottom: 3rem;
  width: 100%;
}

.title {
  font-size: var(--sizeTitle);
  font-weight: var(--weightSecondary);
  font-family: var(--fontSecondary);
}

.button {
  background-color: var(--terceary);
  font-family: var(--fontSecondary);
  font-weight: var(--weightSecondary);
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
}

/* End style Global */

/* Header */
.header {
  background-color: var(--primary100);
  color: var(--colorText);
  padding: 2rem 0;
}

.header__container {
  padding: var(--containerPadding);
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 3rem;
  width: auto;
}

/* Main */
.main {
  color: var(--colorText);
  position: relative;
  background-color: var(--primary200);
}

/* Nav */

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 3em;
  /* font-size: var(--fontPrimary); */
}

.link {
  color: #c2c2c2;
}

.link:hover {
  color: var(--colorText);
  text-decoration: underline;
  font-weight: var(--weightSecondary);
}

/* hero */

.hero {
  background-color: var(--primary100);
  padding-bottom: 10rem;
  position: relative;
}

.hero__container {
  width: 100%;
  max-width: 50rem;
  text-align: center;
  position: relative;
  z-index: 1;

  display: grid;
  gap: 3rem;
}


.hero__info {
  display: grid;
  gap: 1.2em;
}

.hero__text {
  width: 80%;
  margin: auto;
  font-size: var(--sizeText);
  font-family: var(--fontPrimary);
}

.hero__button {
  justify-self: center;
  padding: 1em 6em;
  border-radius: 2rem;
}

/* Benefits */
.benefits__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  justify-items: center;
  gap: 6rem 0;
  padding: 0 5rem;
}

.benefits__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2em;
  width: min(25rem, 100%);
}

.benefits__image {
  height: 6rem;
  width: auto;
}

.benefits__title {
  font-size: calc(var(--sizeText) + .1em);
  font-weight: var(--weightSecondary);
  font-family: var(--fontSecondary);
  line-height: 2.1em;
}

.benefits__text {
  font-size: var(--sizeTextsmall);
  font-family: var(--fontPrimary);
}

@media screen and (max-width: 915px) {
  .benefits__list {
    grid-template-columns: 1fr;
  }
}

/* Features */
.feature {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.feature__picture {
  width: min(38rem, 100%);
}

.feature__image {
  width: 100%;
  height: auto;
}

.feature__info {
  display: grid;
  gap: 1em;
}

.feature__text {
  font-size: var(--sizeTextsmall);
  font-family: var(--fontPrimary);
  font-weight: var(--weightPrimary);
}

.feature-link {
  border-bottom: 1px solid var(--secondary);
  color: var(--secondary);
  justify-self: start;
  display: flex;
  gap: .4em;
  padding-bottom: 5px;
  align-items: center;

  font-size: var(--sizeTextsmall);
  font-family: var(--fontPrimary);
  font-weight: var(--weightPrimary);
}

.feature-link__icon {
  height: 1.2em;
  width: auto;
}

/* testimony */
.testimony__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.testimony__element {
  background-color: var(--primary400);
  z-index: 1;
  padding: 2rem;
  display: grid;
  gap: 1em;
  border-radius: 4px;
}

.testimony__container {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-template-rows: 1fr .8fr;
  grid-template-areas: 'image name' 'image description';
  gap: 0 .5em;
  align-items: center;
}

.testimony__image {
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  grid-area: image;
}

.testimony__profile {
  grid-area: description;
  font-size: .6em;
}

.testimony__text {
  line-height: 1.6em;
  font-family: var(--fontPrimary);
  font-size: var(--sizeTextsmall);
  font-weight: var(--weightPrimary);
}

.testimony__name {
  font-size: .9em;
  grid-area: name;
}

.testimony__quotes {
  position: absolute;
  width: 3rem;
  top: -2rem;
  left: -.5rem;
  z-index: 0;
}

/* form */
.form {
  background-color: var(--primary200);
  color: var(--colorText);
}

.form__container {
  background-color: var(--primary400);
  display: grid;
  gap: 1.6em;
  width: min(50rem, 100%);
  padding: 2rem 3rem;
  text-align: center;
  border-radius: 5px;
  position: relative;
  transform: translateY(50%);
}

.form__text {
  font-size: var(--sizeTextsmall);
  font-family: var(--fontPrimary);
  font-weight: var(--weightPrimary);
  /* color: red; */
}

.form__wrapp {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr .3fr;
  gap: 0 2rem;
  position: relative;
}

.form__input {
  background-color: #fff;
  border-radius: 2rem;
}

.form__submit {
  padding: 1em 2em;
  border-radius: 2rem;
}

.form__error {
  position: absolute;
  bottom: -1.6em;
  left: 1.5rem;
  font-size: .8em;
  color: var(--error);
}

/* footer */
.footer {
  background-color: var(--primary300);
  color: var(--colorText);
  padding: 3rem 0;
  font-family: var(--fontPrimary);
  font-weight: var(--weightPrimary);
}

.footer__container {
  display: grid;
  grid-template-columns: 1.5fr .8fr .5fr .5fr .5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'logo logo logo logo logo'
    'location contact navigation nav icons';
  padding-top: 4rem;
  gap: 2rem 3rem;
}

.footer__picture {
  grid-area: logo;
  align-self: end;
}

.footer__logo {
  height: 3rem;
  width: auto;
}

.footer__icon {
  height: 1.2em;
  width: auto;
}

/* location (footer) */
.location {
  display: grid;
  grid-template-columns: 2rem 1fr;
}

/* icons (footer) */
.icons {
  display: flex;
  gap: 2rem;
  justify-content: end;
}

.icons__element {
  width: 2em;
  height: 2em;
  border: 1.5px solid var(--colorText);
  border-radius: 50%;
}

.icons__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons__link:hover {
  color: var(--secondary);
}

.icons__element:hover {
  border-color: var(--terceary);
}

/* Contact (footer) */
.contact {
  display: grid;
  gap: 1em;
  grid-template-rows: min-content;
}

.contac__element {
  display: grid;
  grid-template-columns: 2rem 1fr;
}

/* Links (footer) */
.links {
  display: grid;
  gap: 1em;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
}

.links__link:hover {
  font-weight: var(--weightSecondary);
}

.figure {
  width: 100%;
  height: 40rem;
  position: absolute;
  bottom: -5%;
  background-image: url('../images/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 0;
}